---
layout: default
title: Techtribes
description: Discover active tech communities and meetups in Finland. Find upcoming events, past meetups, and connect with tech enthusiasts in your area.
---

<div class="border-b print:hidden mt-1 mb-3 pb-4">
  <div class="flex gap-2 items-center">
    <div class="flex-1">
      <h2 class="text-2xl font-bold">Upcoming events</h2>
    </div>
    <div class="ml-auto print:hidden">
      <a
        href="https://github.com/olegp/techtribes?tab=readme-ov-file#add-community"
        class="btn-outline"
      >
        <img
          src="{{ site.url }}/assets/icons/plus.svg"
          width="20"
          height="20"
          class="w-5 h-5"
          alt="Plus sign"
        />
        Add a community
      </a>
    </div>
  </div>
</div>
<div class="grid gap-4">
  <div class="space-y-4">
    {% assign today = 'now' | date: '%Y-%m-%d' | date: '%s' %} {% for community
    in site.data.output.events %} {% assign event_date = community.date | split:
    '/' %} {% assign event_timestamp = event_date[2] | append: '-' | append:
    event_date[1] | append: '-' | append: event_date[0] | date: '%s' %} {% if
    event_timestamp >= today %} {% include card.html %} {% endif %} {% endfor %}
  </div>
</div>
<div class="border-b print:hidden mt-1 mb-3 pb-4">
  <div class="flex gap-2 items-center">
    <div class="flex-1">
      <h2 class="text-2xl font-bold">Past events</h2>
    </div>
  </div>
</div>
<div class="grid gap-4">
  <div class="space-y-4">
    {% assign today = 'now' | date: '%Y-%m-%d' | date: '%s' %} {% for community
    in site.data.output.events %} {% assign event_date = community.date | split:
    '/' %} {% assign event_timestamp = event_date[2] | append: '-' | append:
    event_date[1] | append: '-' | append: event_date[0] | date: '%s' %} {% if
    event_timestamp < today %} {% include card.html %} {% endif %} {% endfor %}
  </div>
</div>
