---
layout: default
title: Techtribes
description: Discover active tech communities and meetups in Finland. Find upcoming events, past meetups, and connect with tech enthusiasts in your area.
---

<div class="page-header d-print-none mt-1 mb-3">
  <div class="row g-2 align-items-center">
    <div class="col">
      <h2 class="page-title">Upcoming events</h2>
    </div>
    <div class="col-auto ms-auto d-print-none">
      <a
        href="https://github.com/olegp/techtribes?tab=readme-ov-file#add-community"
        class="btn btn-primary"
      >
        <img
          src="{{ site.url }}/assets/icons/plus.svg"
          width="20"
          height="20"
          class="icon"
          alt="Plus sign"
        />
        Add a community
      </a>
    </div>
  </div>
</div>
<div class="row row-cards">
  <div class="space-y">
    {% assign today = 'now' | date: '%Y-%m-%d' | date: '%s' %} {% for community
    in site.data.output.events %} {% assign event_date = community.date | split:
    '/' %} {% assign event_timestamp = event_date[2] | append: '-' | append:
    event_date[1] | append: '-' | append: event_date[0] | date: '%s' %} {% if
    event_timestamp >= today %} {% include card.html %} {% endif %} {% endfor %}
  </div>
</div>
<div class="page-header d-print-none mt-1 mb-3">
  <div class="row g-2 align-items-center">
    <div class="col">
      <h2 class="page-title">Past events</h2>
    </div>
  </div>
</div>
<div class="row row-cards">
  <div class="space-y">
    {% assign today = 'now' | date: '%Y-%m-%d' | date: '%s' %} {% for community
    in site.data.output.events %} {% assign event_date = community.date | split:
    '/' %} {% assign event_timestamp = event_date[2] | append: '-' | append:
    event_date[1] | append: '-' | append: event_date[0] | date: '%s' %} {% if
    event_timestamp < today %} {% include card.html %} {% endif %} {% endfor %}
  </div>
</div>
